<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Logos/fotodeperfil.jpg/" alt=""
class=" img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Condotto Paola Lorena</p>
        <p> Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mì</h1>
            <p><br>Hola mi nombre es Paola, tengo 39 años, soy ademas de programadora Full Stack Developer Jr , Contadora Publica 
                y mama de dos  hermosas nenas, Guillermina y Valentina.
               <br> Trabajo hace 18 años en un Registro Propiedad del Automotor y cuando vino la pandemia empece a ver videos 
                de programadores por youtube, y me di cuenta que habia un mundo interesante con la programacion.
                A partir de ese dia me introduci en este nuevo mundo.
                <br>Soy una persona muy autodidactica, emprendedora, me gusta cumplir con los objetivos en tiempo y en forma y sobre
                todo soy muy proactiva y me gusta enfrentarme a nuevos desafios.
             </p>
        </span>
    </div>

</div>
