<div class="row">
    <h1>Proyectos Realizados</h1>
<div class="contenedor">
<div class="col-sm-12 col-md-7 col-ld-7 parte1">
    <h1>Herrajes Rafaela</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
         Cumque earum nobis dolores pariatur magni fuga ad deleniti error ratione inventore
          facere quos distinctio aliquam accusantium, veritatis dicta delectus, amet voluptatum?</p>

</div>
<div class="col-sm-12 col-md-3 col-ld-3 offset-md-1 offset-lg-1 parte2">
    <img src="" alt="" class="img-fluid img-proyecto">
</div>
</div>
</div>