<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>.TRABAJO 1</h1>
              <h3> YEARS</h3>  
            </li>
            <p>lorenjhfsdfjdsg
                bffjdsbfdsnb
                hsdfjjhsgds

            </p>
        </ul>
        <ul>
            <li><h1>.TRABAJO 2</h1>
                <h3>YEARS</h3>
            </li>
            <p>JKHSFKHGKJDFHGKJDFHGKJDFHG
                HGIJDIOFJ7
                FGDJGJDFK
            </p>
        </ul>
        <ul>
            <li><h1>.TRABAJO 2</h1>
                <h3>YEARS</h3>
                
            </li>
            <p>JKHSFKHGKJDFHGKJDFHGKJDFHG
                HGIJDIOFJ7
                FGDJGJDFK</p>
        </ul>
    </div>
</div>

